{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<div style= text-align: center>
</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Transacted</th>
            </tr>
        </thead>

        <tbody>
            {% for dic in history %}
                <tr>
                    {% for info in dic %}
                        {% if info == "price"%}
                            <td>{{dic[info] | usd}}</td>
                        {% else %}
                            <td>{{dic[info]}}</td>
                        {% endif %}
                    {%endfor%}
                </tr>
            {%endfor%}
        </tbody>
    </table>

{% endblock %}